absl-py
libta-lib-dev
aiohttp
aiosignal
astunparse
async-timeout
attrs
backtrader
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dateparser
deap
filelock
Flask
flatbuffers
fonttools
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
jax
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
mpmath
multidict
networkx
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pip
protobuf
pyasn1
pyasn1-modules
pycryptodome
pyparsing
python-binance
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
stopit
sympy
TA-Lib==0.4.26
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
TPOT
tqdm
typing_extensions
tzdata
tzlocal
ujson
update-checker
urllib3
websocket-client
websockets
Werkzeug
wrapt
xgboost
yarl
